.benefit {
    margin: 0 10px;
    &__title {
        margin-top: 125px;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        color: #213252;
    }
    &__wall {
        margin-top: 85px;
        display: flex;
        justify-content: space-between;
    }
    &__text {
        max-width: 450px;
        &_mt115 {
            margin-top: 115px;
        }
    }
    &__subtitle {
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        color: #213252;
        margin-top: 25px;
    }
    &__descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #213252;
        margin-top: 27px;
    }
    &__img {
        max-width: 500px;
        max-height: 220px;
        margin-bottom: 83px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__wrapper {
        margin: 0 10px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 180px;
    }
    &__items {
        display: grid;
        grid-template-columns: 220px 200px;
        justify-content: center;
        margin-top: 121px;
        column-gap: 110px;
        row-gap: 40px;
    }
    &__item {
        max-width: 200px;
        max-height: 80px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}