.footer {
    background-color: #121415;
    min-height: 280px;
    color: #fff;
    overflow: hidden;
    width: 100%;
    &__first {
        margin: 0 10px;
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        div {
            max-width: 217px;
            margin-left: 10px;
        }
    }
    &__img {
        max-width: 200px;
        max-height: 100%;
        &-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 100%;
        }
    }
    &__links {
        width: 370px;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        text-decoration: none;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-descr {
            display: block;
            margin-top: 10px;
            color: #B0B8C1;
            font-size: 16px;
            line-height: 20px;
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
    &__contacts {
        position: relative;
        max-width: 240px;
        display: flex;
        flex-direction: column;
    }
    &__number {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 24px;
        line-height: 20px;
        margin-left: auto;
    }
    &__call {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #5284F7;
        margin-top: 10px;
        text-decoration: none;
        span {
            border-bottom: 1px dashed #5284F7;
            margin-left: auto;
        }
        img {
            width: 14px;
            height: 18px;
        }
    }
    &__second {
        margin: 0 10px;
        display: flex;
        margin-top: 55px;
        justify-content: space-between;
        align-items: center;
        &-link {
            text-decoration: none;
            color: #B0B8C1;
        }      
        &-twoitems {
            display: flex;
            gap: 50px;
        }  
    }
    &__site {
        margin-right: 12px;
        &-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__twoitems {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 25px;
    }
}